#body{
}



/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #232323;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #f1f1f1;
    width: 0%;
  }

/*  Header Section (Navigation)*/
.logo{ 
    width: 130px;
}

.nav-items{
    margin-left: auto;
}

.navbar{
    padding: 0 5% 0 10%;
    background-color: #292929;
}

}

.nav-link{
    font-size: small;
}

.lang{
    font-size: medium;
    margin-right: 20px;
}



.bodySettings{
     /* The image used */
     background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/images/storeFront.jpg');
    
    
     /* Set a specific height */
     top: fixed;
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     opacity: 0;

     
     animation: fadeIn .5s normal forwards;


     
}


/*      Parallax    */

.parallax{
    /* The image used */
     background: transparent;
    
    
     /* Set a specific height */
     min-height: 600px;

     opacity: 0;
     animation: fadeIn 1s linear forwards;
}

.picture-text {
    text-align: center;
    filter: none;
    color: white;
    padding-top: 15rem;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    opacity: 0;
    animation: .5s fadeIn 1s normal forwards;
  }
  
  .button-style {
    padding-top: 4rem;
    text-align: center;

    opacity: 0;
    animation: .5s fadeIn 1s normal forwards;
  }

  .videoText{
      display: flex;
      text-align: center;
  }

  .ytVideoEmbed{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 8% 0 0 13%;
  }



  /* PDF Pic and Stuff*/

  .pic-desc{
      display: flex;
      flex-direction: row;
      margin: 0 13% 0 13%;
      background-color: white;
      -webkit-font-smoothing: antialiased;
      height: 80vh;


  }

.contDiv{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: white;

    opacity: 0;
    animation: 1s fadeIn 1s normal forwards;
    
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sect1{
    display: inline-block;
    vertical-align: middle;

    max-height: 100%;
    width: 50%;
    
    
}
.sect2{
    width: 50%;
    height: 100%;
    padding: 10% 5% 10% 5%;
}

.sect1 img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.sect2 img{
    max-height: 50%;
    max-width: 60%;
    margin: 10% 0 0 0;
}


/*

.pic-desc{
    display: flex;
    background: white;
    height: 70vh;
    max-width: 100%;
    
    margin: 0 10% 0 10%;
}

.contDiv{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}
.sect1{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 10% 0 10% 0;
    
    
}
.sect2{
    width: 50%;
    height: 0%;
    padding: 10% 5% 10% 5%;
}
.sect1 img{
    max-height: 100%;
}

.sect2 img{
    max-width: 100%;
}





*/







/* Footer */

.footer-style {
    padding: 20px 0px 10px;
    font-size: 9pt;
    font-weight: normal;
    border-top: solid 0px #eeeeee;
    background-color: #666666;
    color: white;
    text-align: center;
  }




  







/*      @keyframe       */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}




/*      @media      */


@media only screen and (max-width:1460px){
/*
    .pic-desc{
        display: block;
    }
    
    .sect1{
        width: 100%;
    }
    .sect2{
        width: 100%;
    }

    .pic-desc{
        margin: 0 5% 0 5%;
    }

    */


}


@media only screen and (max-width:991px){
    .parallax{
        min-height: 400px;
    }

    .picture-text{
        padding-top: 8rem;
    }

    .lang{
        border-right: 0px;
    }

    
    .pic-desc{
        display: block;
        height: fit-content;
    }
    .sect1{
        width: 100%;
    }
    .sect1 img{
        max-height: 100%;
    }
    .sect2{
        width: 100%;
    }

    .pic-desc{
        margin: 0 5% 0 5%;
    }

    #topInfoBar{
        display: hidden;
        z-index: 0;
    }

    .logo{ 
        width: 110px;
    }

    


}

@media only screen and (max-width:550px){
    .parallax{
        min-height: 400px;
    }

    .picture-text{
        padding-top: 6rem;
    }

    
    .logo{ 
        width: 80px;
    }

}
