

/*  Header Section (Navigation)*/
.logo{
    width: 130px;
}

.nav-items{
    margin-left: auto;
}

.navbar{
    padding: 0 5% 0 10%;
    background-color: #292929;
}

}

.nav-link{
    font-size: small;
}

.lang{
    font-size: medium;
    margin-right: 20px;
}



/*      Parallax    */

.parallax{

 

     /* The image used */
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/storeFront.jpg');
    
    
     /* Set a specific height */
     min-height: 600px;
    
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: top center;
     background-repeat: no-repeat;
     background-attachment:fixed;
     background-size: cover;
     background-position-y: ;

     opacity: 0;
     animation: fadeIn 1s linear forwards;
}

.picture-text {
    text-align: center;
    filter: none;
    color: white;
    padding-top: 10rem;
    font-family: 'Calistoga', cursive;
    font-weight: 400;

    opacity: 0;
    animation: 1s fadeIn 1s normal forwards;
  }
  
  .button-style {
    padding-top: 4rem;
    text-align: center;

    opacity: 0;
    animation: 2s fadeIn 2s normal forwards;
  }



  /* PDF Pic and Stuff*/

  .pic-desc{
      display: flex;
      flex-direction: row;
      margin: 0 13% 0 13%;
      background-color: white;
      height: 80%;

  }

.contDiv{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: white;


    opacity: 0;
    animation: 3s fadeIn 2s normal forwards;
}


.sect1{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 10% 0 10% 0;
    
    
}
.sect2{
    width: 50%;
    height: 0%;
    padding: 10% 5% 10% 5%;
}

.sect1 img{
    max-width: 80%;
}

.sect2 img{
    max-width: 80%;
    margin: 10% 0 0 0;
}






/* Footer */

.footer-style {
    padding: 20px 0px 10px;
    font-size: 9pt;
    font-weight: normal;
    border-top: solid 0px #eeeeee;
    background-color: #666666;
    color: white;
    text-align: center;
  }







/*      @keyframe       */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes flyIn{

}


/*      @media      */

@media only screen and (max-width:991px){
    .parallax{
        min-height: 400px;
    }

    .lang{
        border-right: 0px;
    }

    .infoBar{
        display: none;
    }

    .pic-desc{
        display: block;
    }

    .sect1{
        width: 100%;
    }
    .sect2{
        width: 100%;
    }
}